<div class="flex flex-col gap-2">
  <details class="faq-details group">
    <summary class="faq-summary">
      <span
        class="self-center transition-transform group-open:rotate-90"
        aria-hidden="true"
        ><%- include('../icons/chevron') %></span
      >What is Snapr?
    </summary>
    <div class="faq-answer">
      <p>
        Snapr is a tool that allows you to download video and audio from TikTok
        without a watermark.<br />
        You can also download photos, either the video thumbnail or the
        slideshow content from TikTok.<br />
        Snapr is easy to use, straightforward, and FREE.
      </p>
    </div>
  </details>
  <details class="faq-details group">
    <summary class="faq-summary">
      <span
        class="self-center transition-transform group-open:rotate-90"
        aria-hidden="true"
        ><%- include('../icons/chevron') %></span
      >How to download TikTok video with no watermark?
    </summary>
    <div class="faq-answer">
      <ol class="flex list-inside list-decimal flex-col gap-2">
        <li>Open TikTok app on your phone or your web browser</li>
        <li>
          Select the video you want to download and click the share button
        </li>
        <li>
          Click Copy Link button or copy the link from your address bar if
          you're on a browser
        </li>
        <li>
          Go to Snapr.me and paste the link into the input field above, then
          submit
        </li>
        <li>
          Wait for a few seconds, and the video is ready to download without the
          TikTok watermark
        </li>
      </ol>
    </div>
  </details>
  <details class="faq-details group">
    <summary class="faq-summary">
      <span
        class="self-center transition-transform group-open:rotate-90"
        aria-hidden="true"
        ><%- include('../icons/chevron') %></span
      >Can I download multiple videos at the same time?
    </summary>
    <div class="faq-answer">
      <p>
        No, you can only download one video at a time. However, you can utilize
        our free API for that.
      </p>
    </div>
  </details>
  <details class="faq-details group">
    <summary class="faq-summary">
      <span
        class="self-center transition-transform group-open:rotate-90"
        aria-hidden="true"
        ><%- include('../icons/chevron') %></span
      >Can I download video from a private account?
    </summary>
    <div class="faq-answer">
      <p>No, we can only access content from public profiles.</p>
    </div>
  </details>
  <p class="text-sm">
    Note: Snapr is a third-party tool, and we do not have any relation with
    TikTok or ByteDance Ltd.<br />Snapr allows people to download videos from
    TikTok without a watermark with ease.
  </p>
</div>
