<footer class="flex flex-grow items-end justify-center p-6 text-center">
  <p>
    &copy; <span class="font-semibold">Snapr</span> - Made with &hearts; by
    <a
      class="font-semibold"
      href="https://github.com/siyosu"
      rel="noopener noreferrer"
      target="_blank"
    >
      <span class="sr-only">Visit SIYOSU's GitHub profile</span>
      SIYOSU
    </a>
  </p>
</footer>

<script src='/js/nprogress.js'></script>