<header class="border-b border-b-slate-800 backdrop-blur-sm">
  <div class="container">
    <div class="flex items-center justify-between py-6">
      <a href="/" aria-label="Go to Snapr homepage">
        <img class="h-10 w-32" src="/img/logo.svg" alt="Snapr Logo" />
      </a>

      <nav>
        <ul class="flex gap-3 font-medium uppercase">
          <li class="flex">
            <a
              class="rounded px-2 py-1 transition hover:bg-slate-900"
              href="/api"
              aria-label="Go to Snapr API"
            >
              API
            </a>
          </li>
          <li class="flex">
            <a
              class="rounded px-2 py-1 transition hover:bg-slate-900"
              href="/contact"
              aria-label="Contact Snapr"
            >
              Contact
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
