<form
  class="flex flex-col gap-4"
  id="searchForm"
  action="/download"
  method="post"
>
  <div class="group relative flex flex-col gap-2">
    <label for="targetUrl">
      Target URL
      <span class="sr-only">TikTok video or slideshow URL</span>
    </label>
    <input
      class="rounded border border-slate-800 bg-slate-950 p-2 outline-white"
      type="text"
      name="url"
      id="targetUrl"
      placeholder="https://"
      aria-describedby="urlHelpText urlError"
    />
    <small
      id="urlError"
      class="hidden text-rose-500 group-[.invalid]:inline"
      aria-live="assertive"
      >Target URL must be a valid TikTok video URL</small
    >
    <small id="urlHelpText"> Enter the TikTok video or slideshow URL </small>
    <button
      id="pasteClipboard"
      class="absolute right-3 top-4 translate-y-full"
      aria-label="Paste from Clipboard"
      type="button"
      tabindex="-1"
    >
      <%- include('../icons/clipboard') %>
    </button>
  </div>
  <button
    id="searchBtn"
    class="cursor-pointer self-end rounded bg-white px-4 py-2 text-sm font-medium text-slate-950 transition hover:bg-white/75 disabled:bg-white/75 md:text-base"
    type="submit"
  >
    Submit
  </button>
</form>
